body {
    display: flex;
    flex-direction: column;
    background-color: rgba(22, 10, 133, 0.349);
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    font-size: 30px;
}

.moon {
    height: 3cm;
    width: auto;
}

.right-link {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: darkblue;
    font-family:fantasy;
    font-weight: bolder;
    font-size: 20px;
}

.theme {
    display: flex;
    background-color: beige;
    justify-content: space-around;
}

.theme-image{
   margin-right: 100px;
}

.left-linker{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 600px;
    margin-left: 100px;
}

.left-linker h3 {
    font-size: 48px;
    font-weight: 800px;
    font-family:monospace;
    color: darkblue;
    margin: 20px 0 20px 0;
    align-self: center;
}

.left-linker h4 {
    font-size: 24px;
    color: darkblue;
    margin: 0 0 20px 0;
}

.left-linker button {
    align-items: flex-start;
    width: 120px;
    padding: 20px;
    font-size: large;
    font-weight: bold;
    background-color: #3882F6;
    color:aliceblue;
    border-radius: 10px;
}

.header .left-link {
    display: flex;
}

.header .left-link h3 {
    font-family: monospace;
    color: rgb(24, 24, 85);
}

.why-choose-us h3 {
    font-size: 40px;
    text-align: center;
    ;
}

.features {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 70px; 
}

.card img {
    object-fit: cover;
    border-radius: 30px;
    border: 5px grey solid;
}

.card p {
    max-width: 200px;
    text-align: center;
    /* border: 30px rebeccapurple; */
    font-size: 20px;
    font-weight: 600;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic ;
    font-size: 36px;
    /* color: darkgreen; */
    background-color: rgb(222, 224, 224);
    /* width:60%; */
    align-self: center;
    margin-bottom: 2%;
}

.quote {
    margin-bottom: 0;
    width: 60%;
    text-align: left;
    /* justify-self: center; */
    align-self: center;
}

.quoter {
    margin-top: 0;
    margin-left: 65%;

}

.signup{
    align-self: 300px;
    display: flex;
    background-color: #3882F6;
    color: aliceblue;
    justify-content: center;
    /* justify-self: center; */
    align-self: center;
    padding: 10px;
    width:60%;
    gap:5%;
    border-radius: 10px;
    margin-bottom: 2%;
}


.signup button {
    height: 50px;
    width: 120px;
    align-self: center;
    font-weight: bolder;
    font-size: large;
    padding: 5px;
    border-radius: 15px;
    justify-self: flex-start;

}

.signup-quote {
    margin-bottom: 0;
    font-weight: bold;
    font-size: large;
}


.offer {
    margin-top: 5px;
    font-weight: bold;
    font-size: large;
}

.footer{
    background-color: rgba(245, 245, 220, 0.671);
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bolder;
    align-items: center;
}

